@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efeitos personalizados (podes deixar no fim do arquivo) */
@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}
